#define MQTT_SERVER "192.168.2.101"
#define MQTT_PORT 1883
#define MQTT_USER "admin"
#define MQTT_PASSWORD "4dm1n/t3st"
#define WIFI_LOCAL_SSID "nodemcu"
#define WIFI_LOCAL_PASS "nodemcu"

// MOSTRADOR
#define NODO_NOMBRE "mostrador"
#define NODO_ESTADO "discriminar"
#define NODO_TOPIC "nodo/discriminar"
#define TOPIC_ERROR "api/error/mostrador"

// FINALIZADO
// #define NODO_NOMBRE "finalizado"
// #define NODO_ESTADO "finalizado"
// #define NODO_TOPIC "nodo/cambiarestado"
// #define TOPIC_ERROR "api/error/finalizado"

// PROCESO
// #define NODO_NOMBRE "proceso"
// #define NODO_ESTADO "proceso"
// #define NODO_TOPIC "nodo/cambiarestado"
// #define TOPIC_ERROR "api/error/proceso"